arch/amd64/cmd
arch/amd64/aux
arch/amd64/kern
arch/amd64/lib
arch/amd64/qa
arch/amd64/include/syscalls.h

sys/src/9/port/error.h
sys/src/9/root/nvram

*.orig
*_orig
*.rej
*~
*.o
o.*
*.a
*.ao
*.out
9pccpuf

cfg/pxe/tftpboot
